.title{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.padre{
    display: flex;
    justify-content: center;
}
.container{
    
    display:flex;
    justify-content: space-between;
    width: 60%;
    
    align-items: center;
    margin-top:2%;
    

}
.container div{
    background-color: rgb(133, 31, 31);
    text-align: center;
    width: 30%;
    padding: 1%;
    border-radius: 1%;
}
.container div button{
    color:wheat;
    background-color: black;
    border-radius:10px;
    width: 30%;
    
}
.container div button:hover{
    color:rgb(133, 31, 31);;
    background-color: whitesmoke;
    border-radius:10px;
    width: 35%;
    height: 30px;
    
}
img{
    width: 100%;
}