.nav{
    display: flex;
    height: 5em;
    background-color: black;
    align-items: center;
    justify-content: space-between;



    
}
.nav h2{
    color:whitesmoke;
    font-family: monospace;
}
.nav h2:hover{
    color: rgb(133, 31, 31);
}
.nav div{
    display: flex;
    width: 30%;
    justify-content: space-between;
    padding-right: 5%;

}
.nav div a{
    font-size: 12px;
    color:whitesmoke;
    text-decoration: none;
    font-family: monospace;
}
.nav div a:hover{
    font-size: 14px;
    color: rgb(133, 31, 31);

}
.nav img{
  height: 100%;
}
.nav img:hover{
  height: 105%;
}

